*,
*::before,
*::after{	
	box-sizing: border-box;		
	
}

*:focus {
	outline:none;
	
}

body {
	text-align:center;
	 background-image: url (inno.jpg);
	 padding: 12px 50px 12px 50px;
	 margin-top: 0px;
	background-image: url(../images/bg.jpg);
	font-family: stencil;

}

img {
	width: 40%;
	border: 3px solid #ddd;
	border-radius: 4px;
	padding: 10px;
 
}

.menu h1 {
	font-weight:bold;
	font-size:4em;
	letter-spacing:4px;

}

.menu h3 {
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 4px;
	color: #000;

}

.bio {
    font-weight:bold;
	font-size:3em;
	letter-spacing:4px;
	background-color: #A3ADB9;
	
}

.about {
     padding: 10px 0;
	 color: black;
	 text-transform:uppercase;
	 font-size:1;
	 letter-spacing: 2px;
	 font-weight:bold;
}

.tags {
	border: 2px #000 dotted;
	
}

.tags p {
	 padding: 10px 0;
	 color: black;
	 text-transform:uppercase;
	 font-size:1;
	 letter-spacing: 2px;
	 font-weight:bold;
}

.skill {
	padding: 5px;
	font-weight:bold;
	font-size:2em;
	letter-spacing:4px;
	background-color: #A3ADB9;
}

.skill2 {
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 4px;
	color: #A3ADB9;
}

.educ {
    padding: 5px;
	font-weight:bold;
	font-size:2em;
	letter-spacing:4px;
	background-color: #A3ADB9;
}
.second {
	border: 2px #000 dotted;
}
.second em {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 4px;
	color: #000;
}
.second p {
	padding: 10px 0;
	 text-transform:uppercase;
	 font-size:1;
	 letter-spacing: 2px;
}

.mentor {
	border: 2px #000 dotted;
	margin-bottom: 20px;
}

.last {
	padding: 5px;
	font-weight:bold;
	font-size:2em;
	letter-spacing:4px;
	background-color: #A3ADB9;
}

.top {
	padding: 20px 0;
	text-align:center;
	
}

.top a {
	margin: 10px;
	font-size: 2em;
	color: #b2b2b2;
	transition: all 0.35s;
	display:inline-block;
	
}
 
.top a:hover {
	transform: scale(1.1);
	color:#000;
	
}

.bottom-bar {
	border: 2px #000 dotted;
	background-color:#000;
}

.bottom-bar p {
	color:white;
	
	
}